body {
	max-height: 100vh;
}
.flex-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 75vh;
}
/*---Nav and Logo Styles --*/

.nav {

}
.nav h2 {
	font-size: 70px;
	font-weight: bold;
	color: black;
	font-family: sans-serif;
	display: block;
	text-align: center;
	padding-top: 25px;
}
#logo {
	height: 120px;
	width: 120px;
	margin-left: 20px; 
	margin-top: 20px;
	position: absolute;
}
/*---Header and Logo Styles --*/
.weatherContent {
	margin-top: 15px;
	background-image: url("graphics/cloudy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 800px;
	background: linear-gradient (transparent, black);
}
#cityState h2 {

}
/*---Weather Conditions Styles --*/
#weatherData {

}
#weatherData div {
	height: 100px;
	width: 100px;
	background-color: white;
	display: inline-flex;
}
#conditions {
	height: 100px;
	width: 150px;
}
/*---Search Box Styles --*/
input{

}
/*---Header and Logo Styles --*/
.footer {
  height: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: center;
}
.social_icons {
	height: 50px;
	width: 50px;
	display: inline-flex;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 10px;
}