html {
	min-height: 100vh;
	min-width: 100%;
}
h2, h3, p {
	color: black;
}
/*---Nav and Logo Styles --*/
.container-fluid {
	padding: 0;
	margin: 0;
}
.nav {
	width: 100%;
	background-color: ;
}
.nav > h2 {
	font-size: 70px;
	font-weight: bold;
	color: black;
	font-family: sans-serif;
	display: block;
	text-align: center;
	padding-top: 25px;
}
#logo {
	height: 120px;
	width: 120px;
	margin-left: 20px; 
	margin-top: 20px;
	position: absolute;
}
/*---Header and Logo Styles --*/
.weatherContent {
	margin-top: 15px;
	background-image: url("graphics/cloudy.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 90vh;
}
#cityState > h2 {
	font-size: 100px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
	right: -5px;
}
/*---Weather Conditions Styles --*/
	/*--Current Forecast Styles--*/
#currentWeatherData {
	display: flex;
	flex-direction: row;
	height: 20vh;
	justify-content: space-around;
}
.currentForecast{
	height: 220px;
	width: 240px;
	background-color: white;
	box-shadow: 10px 10px 10px black;
	text-align: center;
}
.currentForecast > h4 {
	font-size: 2.5em;
	position: relative;
 	top: 50%;
 	transform: translateY(-50%);
 	color: black;
	line-height: 1.5;
	font-weight: bold;
}
/* Weekly Forecast Styles */
#weeklyWeatherData {
	flex-direction: column;
}
#weekly_forecast {
	background-color: ;
	max-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
#weekDay {
/*	width: 25%;*/
	right: 0;
}
#weekDay > h2 {
	font-size: 60px;
	margin-right: 0px;
	line-height: 140px;
	font-weight: bolder;
}
.day {
	min-height: 150px;
	background-color: transparent;
	margin-bottom: 20px;
	box-shadow: 10px 10px 10px black;
	white-space: nowrap;
}
.day > h2 {
	font-size: 3em;
}
.day > h3 {
	font-size: 4em;
}
.day > p {
	font-size: 2em;
	font-weight: bolder;
}
/*---Header and Logo Styles --*/
.footer {
  height: 100px;
  min-width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: black;
  text-align: center;

}
.social_icons {
	height: 75px;
	width: 75px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 10px;
}